.landing_container{
    border: #ffedd7 solid 1px;
    background-color: transparent;

    position: absolute;
    top: 10vh;
    left: 5vw;
    right: 5vw;
    width: 90vw;
   // padding: 0 1vw;

    height:auto;

    display: grid;
    grid-template-columns: repeat(9,10vw);
    grid-template-rows: 98vh minmax(100vh,250vh) 85vh 15vh;// 5 pages
    grid-template-areas:  
    'a a a a a a a a a '  
    'b b b b b b b b b ' 
    'd d d d d d d d d '
    'e e e e e e e f f '
    'g g g g g g g g g ';


    .gems{
        grid-area: b;

        background-color: #644b47;

        display: grid;
        grid-template-columns: repeat(9,10vw);
        grid-template-rows: 5vh 20vh minmax(100vh,280vh) ;
        grid-template-areas:
        ' . . . . . . x x x' 
        ' q q q q q q x x x' 
        ' q q q q q q . . .' 
    }

    .content-2{
        grid-area: g;
        height: 150vh;
        width: 100vw;

        background-color: rgba(161, 211, 254, 0.538);
        .content__text{
            font-size: 26px;
            color: rgba(188, 12, 188, 0.608);
            padding: 10vh 10vw;
            line-height: 50px;
        }
    }
    .service_container{
       //background-color: #abedb25c !important;
        //background-color: transparent;
        overflow: hidden;
        width: 100vw !important;
        //height: 65vh ;
    }
    .categories_container{
        //border:solid 1px rgb(138, 46, 12);
        //background-color: rgba(131, 72, 66, 0.515);
        width: 100vw ;
        //height: 100vh !important;
    }    

}