.product_details_container{
    border: #eeb5a8 solid 1px;
    text-transform: capitalize;
    width: 45vw;
    height: 100vh;
    left: 55vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;

    & .product_details{
        //background-color: #ffedd759;
        width: 35vw;
        margin-top: 5vh;
    }

    .product_details-collection_name{
        height: 5vh;
        .collection-name{
            font-size: 22px;
            margin-block-start: 5px;
            margin-block-end: 5px;
        }
    }
    .product_details-item-name{
        height: 12vh;
        margin-top: 2vh;
        .item-name{
            font-size: 75px;
            margin-block-start: 5px;
            margin-block-end: 5px;
        }
    }
    .product_details-options{
        height: 8vh;
        width: 35vw;
        margin-top: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 

    }
    .product_details-action{
        height: 8vh;
        width: 35vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        .action-box{
            border: #693f41 solid 1px;
            height: 8vh;
            width: 15vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            .action{
                font-size: 20px;
                margin-block-start: 5px;
                margin-block-end: 5px;
            }
        }
    }
    .product_details-details{
        height: 25vh;
        margin-bottom: 2vh;
        .product-details-control{
            display: flex;
            flex-direction: row;
            justify-content: space-between; 
            .control{
                font-size: 20px;
                margin-block-start: 5px;
                margin-block-end: 5px;
            }
        }
        .product-details-paragraph{
            margin-top: 2vh;
            .details{
                font-size: 16px;
                letter-spacing: 2.5px;
                margin-block-start: 5px;
                margin-block-end: 5px;
            }
        }
    }
}
.close{
    position: absolute;
    top: 10vh;
    right: 2vw; 
    background-color: transparent;
    border-radius: 50%;
    border: #693f41 solid 1px;
    padding: 5px 10px;
    z-index: 10;
 }