.nav_container {
    //border: #ffedd7 solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    width: 90vw;
    height: 10vh;
    position: fixed;
    top: 0vh;
    left: 5vw;
    right: 5vw;
    z-index: 1000;
    text-align:center;
    background-color: transparent;

    .nav_container-ul{
        padding-inline-start: 0;
        padding-inline-end: 0;
        list-style: none;
        
        display: flex;
        flex-direction: row; 
    
        position: relative;
        
        
         .nav_container-li{
            text-decoration: none;
            padding: 5px 10px;
            font-size: 18px;
            color: inherit;
            
    
            justify-self: flex-end;
            &.logo{
                font-size: 24px;
            }
            .search_icon{
                position: absolute;
                top: -0.8vh;
                left: -2vw ;
                width: 35px;
                height: 35px;
                rotate: -30deg;
            }
        }
    }
}
