.card_frame{
    //border: 3px rgba(30, 27, 22, 0.587) solid;
    padding: 0 2vw;
    width: 100vw!important;
    overflow: hidden;
    border-radius: 5px;

    .card_image{
        //background-color: linear-gradient(green,yellow);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .card_image_item{
            background-position: center !important;
            background-size: cover !important;
            background-repeat: no-repeat;
            width: 30vw !important;
            height: 80vh;
            border: 3px rgb(30, 27, 22) solid;
            border-radius: 50px;
        }
    }
}   

     
    

