.product_page_container{
    width: 100vw;
    height:auto;
    position: relative;

    top: 0vh;;
     left: 0vw;
    right: 0vw;

    .product_detail_page_container{
        width: 100vw;
        height: 100vh;
    
        position: absolute;
    }    
}