/* .productCat_container{
    //border:1px solid #f5f2f5;
    width: 20vw !important;
    height: 100vh !important;

    left: 79vw !important;
    top: 0vh !important;
 */
    .the_cats{
        //background-color: rgba(235, 241, 57, 0.53);
        overflow: hidden;

        .product_types{
            right: 0 !important;
            top: 0 !important;
            margin-left: 1vw;
     
            border-radius: 100px;
            background-size: cover !important;
            background-repeat: no-repeat;
            background-position: center;
            width: 18vw !important;
            //height: 57vh !important;
            border:  #21190b 1px solid;
        }
    }
/* } */



  
