.productCat_container{
    border:1px solid #f5f2f5;

    position: relative;

    width: 70vw ;
    height:100vh ;
    
   .product_types{
        border:  #21190b 1px solid;
        border-radius: 100px;

        opacity: 0.8;
        background-size: cover !important;
        background-repeat: no-repeat;
        background-position: center;

        position: absolute;        

        width: 65vw !important;
        height: 90vh !important;
        margin-left: 2vw;

        &.image0{
            z-index: 3;
            top: 10vh;
            scale: 1;
        }
        &.image1{
            z-index: 2;
            top: 0vh;
            scale: 0.94;
        }
        &.image2{
            z-index: 1;
            top: -10vh;
            scale: 0.90;
        }
        &.image3{
            z-index: 0;
            top: -15vh;
            scale: 0.86;
        }
    }
}



  
