/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=Noto+Serif+Thai:wght@200;300;400;500;600&family=Cormorant+Infant:wght@400;500;600;700&display=swap');

 */

 /* 
 -- default 
 background-color:  #e6ccb2;
 -- darker 2 shades
 background-color:  #e2c3a5;
 -- darker 4 shades:
 background-color:#debb99;
 --- lighter 1 shades
 background-color:#e8d0b8;
  --- lighter 2 shades
 background-color:#ead4be;

 ------- FONT
 color:#524335;
 */



*{
 box-sizing: border-box;
 
}
body{
  overscroll-behavior: none;
    margin: 0;
    /* background-color: #410808; */
    /* background-color: #5da2957e; */
    /* background-color: #FFFDFA; */
     background:  #e6ccb2; 

    
    /* color:#D6AD60; */
    color:#fffefebc;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Cinzel', serif;
   /*  font-family: 'Cormorant Infant', serif; */
   /*  font-family: 'Noto Serif Thai', serif; */
    overflow-x: hidden;
    /* width: 100vw;
    overflow-x: hidden; */
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #b48125;
  -webkit-text-fill-color: #b48125;
  transition: background-color 5000s ease-in-out 0s;
}

.special_green_background{
  background: #070e0b;

  background: radial-gradient(circle, hsla(160, 33%, 4%, 1) 0%, hsla(162, 36%, 11%, 1) 72%, hsla(164, 33%, 9%, 1) 100%);

  background: -moz-radial-gradient(circle, hsla(160, 33%, 4%, 1) 0%, hsla(162, 36%, 11%, 1) 72%, hsla(164, 33%, 9%, 1) 100%);

  background: -webkit-radial-gradient(circle, hsla(160, 33%, 4%, 1) 0%, hsla(162, 36%, 11%, 1) 72%, hsla(164, 33%, 9%, 1) 100%);
}
.special_red{
  background: hsla(0, 78%, 14%, 1);

background: radial-gradient(circle, hsla(0, 78%, 14%, 1) 32%, hsla(10, 100%, 6%, 1) 96%, hsla(357, 76%, 21%, 1) 100%);

background: -moz-radial-gradient(circle, hsla(0, 78%, 14%, 1) 32%, hsla(10, 100%, 6%, 1) 96%, hsla(357, 76%, 21%, 1) 100%);

background: -webkit-radial-gradient(circle, hsla(0, 78%, 14%, 1) 32%, hsla(10, 100%, 6%, 1) 96%, hsla(357, 76%, 21%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#410808", endColorstr="#1F0500", GradientType=1 );
}

.special_blush{
  /* background-color: #644b47; */
 /*  background: #42201ffe; */

/* background: radial-gradient(circle, rgb(233, 200, 175) 0%, #f2d5c9 100%);

background: -moz-radial-gradient(circle, rgb(233, 200, 175) 0%, #f2d5c9  100%);


background: -webkit-radial-gradient(circle, rgb(233, 200, 175) 0%,#f2d5c9  100%);


filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EEBF9A", endColorstr="#FAA682", GradientType=1 );
 */
}
